.introduction{
    font-family: 'Quicksand', sans-serif;
    background-color:#fafafa;
    padding-top: 20px;
}
#welcome{
    color: #4a148c;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
#about-us{
    font-size: 14px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}
#see-more{
    font-size: 16px;
    font-weight: bold;
    color: #8e24aa;
    cursor: pointer;
}
#see-less{
    font-size: 16px;
    font-weight: bold;
    color: #8e24aa;
    cursor: pointer;
}
.parallax {  
    background-image: url("https://www.iictmsl.com/carousel%20images/6%20(1).jpg");  
    min-height: 300px; 
     
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Teams*/
.admin-heads{
    position: relative;
}
#team-header{
    color: #4a148c;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.People{
    margin: 40px;
    border-radius: 0px;
}
#card-style-admin{  
    background-color: white;   
    border-radius: 0px;
    border-width: 0;
    height: 450px;
    text-align: justify;
}
#card-style{
    background-color: white;   
    border-radius: 1px;
    border-width: 0;
    height: 400px;
    text-align: justify;
}
#card-style:hover{
    box-shadow: 2px 5px 10px #000000;
}
#card-style-admin:hover{
    box-shadow: 2px 5px 10px #000000;
}
.card-img-top{
    height: 260px;
    border-radius: 0px;
    object-fit: cover;    
}
#card-image:hover{
    
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.card-title{
    text-align: center;
    color: #d47977;
}
.view-details{
    text-align: center;
    position: absolute;
    bottom: 24px;
    background-image: linear-gradient(#cd934e, #aa7938);
    font-size: 14px;
    font-weight: bold;
    color: #fafafa;
    background-color: #cd934e;
    border: 0;
    border-radius: 2px;
    height: 35px;
    margin: 0;
    position: absolute;
    
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
